


nav {
    background-color: rgb(39, 39, 121);
    padding: 0.5rem;
    display: flex;
    justify-content: right;
}

.navBtn {
    margin: 2rem;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.createBtn {
    color: black;
}

#outer-div-element {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* width: 25rem; */
}

.postDiv {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    flex-direction: column;
    width: 30em;
    height: 30em;
    margin: 1em;
    border-radius: 2%;
}


.newPostForm {
    margin-bottom: 2rem;
}

div {
    margin-bottom: 2rem;
}

.postBtn {
    width: 8em;
    height: 2em;
    color: black;
}

.postBtnCont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}