


nav {
    background-color: rgb(39, 39, 121);
    padding: 0.5rem;
    display: flex;
    justify-content: right;
}

a {
    margin: 2rem;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.viewBtn {
    color: black;
}

.createBtn {
    color: black;
}

#outer-div-element {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 25rem;
}

.postDiv {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    flex-direction: column;
}


.newPostForm {
    margin-bottom: 2rem;
}

div {
    margin-bottom: 2rem;
}